@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/lato-v14-latin-regular.woff2) format("woff2"), url(fonts/lato-v14-latin-regular.woff) format("woff");
}
@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: local("Lato Italic"), local("Lato-Italic"), url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/lato-v14-latin-italic.woff2) format("woff2"), url(fonts/lato-v14-latin-italic.woff) format("woff");
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/lato-v14-latin-700.woff2) format("woff2"), url(fonts/lato-v14-latin-700.woff) format("woff");
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    src: local("Lato Black"), local("Lato-Black"), url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/lato-v14-latin-900.woff2) format("woff2"), url(fonts/lato-v14-latin-900.woff) format("woff");
}
@font-face {
    font-family: LatoExtended;
    font-style: normal;
    font-weight: 400;
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/Lato-Regular.woff2) format("woff2"), url(fonts/Lato-Regular.woff) format("woff"), local("Lato Regular"), local("Lato-Regular");
}
@font-face {
    font-family: LatoExtended;
    font-style: italic;
    font-weight: 400;
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/Lato-Italic.woff2) format("woff2"), url(fonts/Lato-Italic.woff) format("woff"), local("Lato Italic"), local("Lato-Italic");
}
@font-face {
    font-family: LatoExtended;
    font-style: normal;
    font-weight: 700;
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/Lato-Bold.woff2) format("woff2"), url(fonts/Lato-Bold.woff) format("woff"), local("Lato Bold"), local("Lato-Bold");
}
@font-face {
    font-family: LatoExtended;
    font-style: normal;
    font-weight: 900;
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/Lato-Black.woff2) format("woff2"), url(fonts/Lato-Black.woff) format("woff"), local("Lato Black"), local("Lato-Black");
}
body {
    color: #222;
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
}
a {
    color: #da2c49;
    color: var(--itchio_link_color, #da2c49);
}
a img {
    border: 0;
}
h2 {
    margin: 15px 0;
}
.loader {
    display: inline-block;
    background-image: url(https://thirty-second.web.app/https://thirty-second.web.app/https://thirty-second.web.app/images/loader.gif);
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.loader.dark {
    background-image: url(https://thirty-second.web.app/images/loader-dark.gif);
}
.button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    background: #ff2449;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #c3223e;
    background: var(--itchio_button_color, #ff2449);
    color: var(--itchio_button_fg_color, #fff);
    text-shadow: 0 1px 0 var(--itchio_button_shadow_color, #c3223e);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    height: 35px;
}
.button:hover {
    background: #ff2e51;
    background: var(--itchio_button_color, #ff2e51);
}
.button:active {
    background-color: #e1193b;
    background-color: var(--itchio_button_color, #e1193b);
    position: relative;
    top: 1px;
}
.button:focus {
    outline-color: #361275;
}
.dark_theme .button:focus {
    outline-color: #fff;
}
.formatted {
    font-size: 16px;
}
.formatted p {
    line-height: 1.5;
}
.formatted p {
    margin: 0 0 20px 0;
}
.formatted h1,
.formatted h2,
.formatted h3,
.formatted h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.formatted img {
    max-width: 100%;
}
.loader_bar {
    position: relative;
    height: 2px;
}
.loader_bar .loader_bar_slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ff2449;
    animation: loader-left 0.8s cubic-bezier(0.55, 0.45, 0.55, 0.45) infinite, loader-right 0.8s cubic-bezier(0.45, 0.55, 0.45, 0.55) infinite;
    animation-direction: alternate;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.user_formatted {
    word-wrap: break-word;
}
.user_formatted iframe,
.user_formatted img {
    max-width: 100%;
    border: 0;
}
@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bouncein {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-left {
    from {
        left: 0;
    }
    to {
        left: 90%;
    }
}
@keyframes loader-right {
    from {
        right: 90%;
    }
    to {
        right: 0;
    }
}
@keyframes bounce {
    0%,
    100%,
    20%,
    53%,
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) rotate(0);
    }
    40%,
    43% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -20px, 0) rotate(10deg);
    }
    70% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -10px, 0) rotate(-10deg);
    }
    90% {
        transform: translate3d(0, -3px, 0) rotate(0);
    }
}
@keyframes drop_down {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
}
@keyframes popout {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(1.1, 1.1);
    }
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes intro {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes lightbox_intro {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
@keyframes scroll_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -30px 0;
    }
}
#lightbox_shroud {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #40434e;
    opacity: 0.8;
    -webkit-transition: opacity 0.12s ease-out;
    z-index: 1000;
}
#lightbox_container {
    z-index: 1001;
}
#lightbox_container:after,
#lightbox_container:before {
    content: " ";
    display: table;
}
#lightbox_container:after {
    clear: both;
}
#lightbox_container .lightbox {
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, 0);
}
@media (max-width: 600px) {
    #lightbox_container .lightbox {
        margin: 5px;
        left: 0;
        transform: none;
        box-shadow: none;
        width: auto !important;
        max-width: none !important;
    }
}
.lightbox {
    margin-bottom: 60px;
    color: #222;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0 0 0 2px #dadada, 0 0 0 4px #fff;
    border-radius: 2px;
    display: flow-root;
    --itchio_lightbox_gutter: 40px;
}
.dark_theme .lightbox {
    color: #ddd;
}
.dark_theme .lightbox {
    background-color: #111;
}
.dark_theme .lightbox {
    box-shadow: 0 0 0 2px #444, 0 0 20px 2px #000;
}
.lightbox h2 {
    border-bottom: 1px solid;
    border-color: #dadada;
    margin: 0 0 20px 0;
    padding: 25px 40px;
    padding: 25px var(--itchio_lightbox_gutter, 40px);
    font-weight: 900;
    color: #434343;
}
.dark_theme .lightbox h2 {
    border-color: rgba(255, 255, 255, 0.1);
}
.dark_theme .lightbox h2 {
    color: #bcbcbc;
}
.lightbox h2 .game_title {
    color: #222;
}
.dark_theme .lightbox h2 .game_title {
    color: #ddd;
}
.lightbox p {
    line-height: 1.5;
    font-size: 16px;
    margin: 20px 40px;
    margin: 20px var(--itchio_lightbox_gutter, 40px);
}
.lightbox .button_row {
    margin-top: 10px;
}
.lightbox .button_row a {
    color: #606060;
}
.dark_theme .lightbox .button_row a {
    color: #9f9f9f;
}
@media (max-width: 600px) {
    .lightbox {
        --itchio_lightbox_gutter: 20px;
    }
}
.loading_lightbox .loader_outer {
    margin: 20px;
    font-size: 16px;
    color: #606060;
}
.dark_theme .loading_lightbox .loader_outer {
    color: #9f9f9f;
}
.loading_lightbox .loader_label {
    padding: 0 20px 5px 20px;
}
@media (max-width: 600px) {
    .loading_lightbox .loader_outer {
        max-width: 100px;
        margin: 0 auto 0 auto;
        padding: 20px;
    }
}
:focus {
    outline-color: #361275;
}
.dark_theme :focus {
    outline-color: #fff;
}
button {
    font-family: Lato, sans-serif;
    font-family: var(--itchio_default_font, Lato), sans-serif;
}
.buy_lightbox {
    width: 600px;
}
.lightbox.screenshot_lightbox {
    z-index: 1001;
    position: fixed;
    border-radius: 2px;
    background: #444;
    overflow: hidden;
    border: 0;
    box-shadow: 1px 0 16px rgba(0, 0, 0, 0.5), 1px 0 4px rgba(0, 0, 0, 0.6);
}
#lightbox_container .lightbox.screenshot_lightbox {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lightbox.screenshot_lightbox img {
    display: block;
    margin: 0;
}
.lightbox.screenshot_lightbox .screenshot_container {
    display: table;
    position: relative;
    background: #111;
}
.lightbox.screenshot_lightbox .screenshot_container .loader {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    display: block;
    background-color: #fff;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 2;
}
.lightbox.screenshot_lightbox .screenshot_container .icon-arrow-left,
.lightbox.screenshot_lightbox .screenshot_container .icon-arrow-right {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
}
.lightbox.screenshot_lightbox.loading .loader {
    opacity: 0.7;
}
.embed_game_lightbox_widget {
    width: 632px;
}
.embed_game_lightbox_widget .embed_container {
    margin: 20px 40px 0 40px;
}
.embed_game_lightbox_widget .embed_container iframe {
    max-width: 100%;
}
@media (max-width: 600px) {
    .embed_game_lightbox_widget .embed_container {
        margin-left: 20px;
        margin-right: 20px;
    }
}
body {
    background: #eee;
}
body.dark_theme {
    background: #1b1b1b;
}
body.lightbox_open {
    overflow: hidden;
}
body.lightbox_open #lightbox_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: 40px;
}
@media (max-width: 1000px) {
    .responsive .wrapper {
        padding: 0 20px;
    }
}
@media (max-width: 600px) {
    .responsive .wrapper {
        padding: 0;
    }
}
.inner_column {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    background: #fff;
    overflow: hidden;
}
.responsive .inner_column {
    max-width: 960px;
    width: auto;
}
@media (max-width: 1000px) {
    .responsive .inner_column {
        padding-bottom: 0;
        max-width: 600px;
    }
}
.inner_column.size_large {
    font-size: 16px;
}
.inner_column.size_very_large {
    font-size: 19px;
}
@media (max-width: 1000px) {
    .responsive .inner_column.size_very_large {
        font-size: 16px;
    }
}
.inner_column p {
    line-height: 1.4;
}
.inner_column a {
    color: #ff0b34;
}
.inner_column h2,
.inner_column h3,
.inner_column h4 {
    margin: 0.8em 20px;
}
.inner_column h2 {
    margin-top: 1.6em;
}
.inner_column h1 {
    margin: 20px 20px 0 20px;
}
.columns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.columns .left_col {
    flex: 1;
    width: 0;
    min-width: 0;
}
.columns .right_col {
    width: 367px;
}
.header {
    overflow: hidden;
}
.header img {
    display: none;
}
.header.has_image {
    font-size: 0;
}
.header.has_image img {
    display: inline-block;
    max-width: 100%;
}
.header.has_image h1 {
    display: none;
}
.header.align_center {
    text-align: center;
}
.header.align_right {
    text-align: right;
}
.user_formatted h1,
.user_formatted h2,
.user_formatted h3,
.user_formatted h4 {
    margin: 0.5em 0;
}
.lightbox {
    font-family: Lato, sans-serif;
    font-family: var(--itchio_default_font, Lato), sans-serif;
}
@font-face {
    font-family: "04b_03";
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/04b03.eot);
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/04b03.eot?#iefix) format("embedded-opentype"),
        url(https://thirty-second.web.app/https://thirty-second.web.app/https://thirty-second.web.app/https://thirty-second.web.app/fonts/04b03.woff2) format("woff2"), url(fonts/04b03.woff) format("woff"),
        url(https://thirty-second.web.app/https://thirty-second.web.app/fonts/04b03.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
.html_embed_widget .game_frame {
    margin: 0 auto;
    position: relative;
    background-position: 50% 50%;
}
.html_embed_widget .game_frame.game_pending .fullscreen_btn {
    display: none;
}
.html_embed_widget .game_frame iframe {
    height: 0;
    width: 0;
    border: 0;
    box-sizing: border-box;
    max-height: 94%;
    max-width: 94%;
    min-height: 94%;
    min-width: 93.99413%;
}
.html_embed_widget .fullscreen_btn {
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    font-size: 16px;
    display: block;
    transition: opacity 0.4s;
    background: 0 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
.html_embed_widget .fullscreen_btn img {
    display: block;
    width: 30px;
    height: 30px;
}
.html_embed_widget .fullscreen_btn:hover {
    opacity: 0.8;
}
.view_game_page.view_html_game_page:after,
.view_game_page.view_html_game_page:before {
    content: " ";
    display: table;
}
.view_game_page.view_html_game_page:after {
    clear: both;
}
.view_game_page.view_html_game_page .center_column {
    margin: 20px 0;
}
@media (max-width: 400px) {
    .view_game_page.view_html_game_page .center_column {
        margin: 0;
    }
}
.view_game_page.view_html_game_page .embed_wrapper {
    margin: 20px 0;
}
.view_game_page.view_html_game_page .game_loading {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    background: rgba(0, 0, 0, 0.04);
}
@media (max-width: 400px) {
    .view_game_page.view_html_game_page .center_column {
        margin-top: 20px;
    }
}
.view_game_page .header_buy_row {
    display: none;
}
.view_game_page .header_buy_row p {
    margin: 20px 20px 0 20px;
}
.view_game_page .header_buy_row p:last-child {
    margin-bottom: 20px;
}
.view_game_page .formatted_description {
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0;
}
.view_game_page .formatted_description > :first-child {
    margin-top: 0;
}
.view_game_page .video_embed {
    margin-right: 20px;
    margin-bottom: 10px;
}
.view_game_page .video_embed:empty {
    display: none;
}
.lightbox_open .view_game_page .video_embed {
    visibility: hidden;
}
.view_game_page .screenshot_list {
    margin-right: 20px;
    box-sizing: border-box;
}
.view_game_page .screenshot_list img {
    display: block;
    margin-bottom: 10px;
    max-width: 347px;
}
.view_game_page .bundle_row {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 20px;
    border: 2px solid #dadada;
    border-radius: 2px;
}
.view_game_page .bundle_row .bundle_label {
    opacity: 0.7;
    font-weight: 400;
}
.view_game_page .bundle_row .bundle_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.view_game_page .buy_row {
    margin: 20px;
}
.view_game_page .buy_row .button {
    margin-right: 10px;
}
.view_game_page .button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    background: #ff2449;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #c3223e;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    height: 35px;
    min-width: 75px;
}
.view_game_page .button:hover {
    background: #ff2e51;
}
.view_game_page .button:active {
    background-color: #e1193b;
    position: relative;
    top: 1px;
}
.view_game_page .column {
    padding-bottom: 20px;
}
@media (max-width: 1000px) {
    .responsive .view_game_page .columns {
        margin: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 100vw;
    }
    .responsive .view_game_page .columns .left_col,
    .responsive .view_game_page .columns .right_col {
        display: block;
        margin: 0;
        width: auto;
    }
    .responsive .view_game_page .columns .left_col {
        -webkit-order: 2;
        order: 2;
    }
    .responsive .view_game_page .columns .right_col {
        -webkit-order: 1;
        order: 1;
    }
    .responsive .view_game_page .right_col .video_embed {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .responsive .view_game_page .header_buy_row {
        display: block;
    }
    .responsive .view_game_page .screenshot_list {
        white-space: nowrap;
        overflow: auto;
        font-size: 0;
        text-align: center;
        margin: 0;
    }
    .responsive .view_game_page .screenshot_list img {
        display: inline-block;
        margin: 0;
        height: 200px;
    }
}
@media (max-width: 400px) {
    .responsive .view_game_page .buy_row {
        font-size: 14px;
        white-space: nowrap;
        margin: 5px 0;
        padding: 15px 20px;
        overflow: auto;
    }
}
.game_header_widget {
    font-family: Lato, sans-serif;
    font-family: var(--itchio_default_font, Lato), sans-serif;
    position: relative;
    z-index: 3;
}
.header_widget {
    height: 50px;
    position: relative;
}
@media print {
    .header_widget {
        display: none;
    }
}
.header_widget h1 {
    margin: 0;
}
.header_widget .bundle_link {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}
.header_widget .bundle_link .tiny {
    font-size: 12px;
    font-weight: 400;
}
.header_widget .bundle_link:hover {
    background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1300px) {
    .header_widget .bundle_link {
        display: none;
    }
}
@font-face {
    font-family: icomoon;
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/icons/fonts/icomoon.eot?4ibnvg);
    src: url(https://thirty-second.web.app/https://thirty-second.web.app/icons/fonts/icomoon.eot?4ibnvg#iefix) format("embedded-opentype"),
        url(https://thirty-second.web.app/https://thirty-second.web.app/icons/fonts/icomoon.ttf?4ibnvg) format("truetype"), url(https://thirty-second.web.app/https://thirty-second.web.app/icons/fonts/icomoon.woff?4ibnvg) format("woff"),
        url(https://thirty-second.web.app/https://thirty-second.web.app/icons/fonts/icomoon.svg?4ibnvg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}
[class*=" icon-"],
[class^="icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cross:before {
    content: "\e617";
}
.icon-twitter:before {
    content: "\e60d";
}
.icon-arrow-right:before {
    content: "\e00b";
}
.icon-arrow-left:before {
    content: "\e00c";
}
.icon-windows8:before {
    content: "\e010";
}
.icon-link:before {
    content: "\e605";
}
.icon-gamepad:before {
    content: "\e61b";
}
body {
    color: #222;
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
}
a {
    color: #da2c49;
    color: var(--itchio_link_color, #da2c49);
}
a img {
    border: 0;
}
h2 {
    margin: 15px 0;
}
.button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    background: #ff2449;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #c3223e;
    background: var(--itchio_button_color, #ff2449);
    color: var(--itchio_button_fg_color, #fff);
    text-shadow: 0 1px 0 var(--itchio_button_shadow_color, #c3223e);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    height: 35px;
}
.button:hover {
    background: #ff2e51;
    background: var(--itchio_button_color, #ff2e51);
}
.button:active {
    background-color: #e1193b;
    background-color: var(--itchio_button_color, #e1193b);
    position: relative;
    top: 1px;
}
.button:focus {
    outline-color: #361275;
}
.user_formatted {
    word-wrap: break-word;
}
#lightbox_shroud {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #40434e;
    opacity: 0.8;
    -webkit-transition: opacity 0.12s ease-out;
    z-index: 1000;
}
#lightbox_container {
    z-index: 1001;
}
#lightbox_container:after,
#lightbox_container:before {
    content: " ";
    display: table;
}
#lightbox_container:after {
    clear: both;
}
#lightbox_container .lightbox {
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, 0);
}
@media (max-width: 600px) {
    #lightbox_container .lightbox {
        margin: 5px;
        left: 0;
        transform: none;
        box-shadow: none;
        width: auto !important;
        max-width: none !important;
    }
}
.lightbox {
    margin-bottom: 60px;
    color: #222;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0 0 0 2px #dadada, 0 0 0 4px #fff;
    border-radius: 2px;
    display: flow-root;
    --itchio-lightbox_gutter: 40px;
}
.dark_theme .lightbox {
    color: #ddd;
}
.dark_theme .lightbox {
    background-color: #111;
}
.dark_theme .lightbox {
    box-shadow: 0 0 0 2px #444, 0 0 20px 2px #000;
}
.lightbox h2 {
    border-bottom: 1px solid;
    border-color: #dadada;
    margin: 0 0 20px 0;
    padding: 25px 40px;
    padding: 25px var(--itchio-lightbox_gutter, 40px);
    font-weight: 900;
    color: #434343;
}
.dark_theme .lightbox h2 {
    border-color: rgba(255, 255, 255, 0.1);
}
.dark_theme .lightbox h2 {
    color: #bcbcbc;
}
.lightbox h2 .game_title {
    color: #222;
}
.dark_theme .lightbox h2 .game_title {
    color: #ddd;
}
.lightbox p {
    line-height: 1.5;
    font-size: 16px;
    margin: 20px 40px;
    margin: 20px var(--itchio-lightbox_gutter, 40px);
}
.lightbox .button_row {
    margin-top: 10px;
}
.lightbox .button_row a {
    color: #606060;
}
.dark_theme .lightbox .button_row a {
    color: #9f9f9f;
}
@media (max-width: 600px) {
    .lightbox {
        --itchio-lightbox_gutter: 20px;
    }
}
.loading_lightbox .loader_outer {
    margin: 20px;
    font-size: 16px;
    color: #606060;
}
.dark_theme .loading_lightbox .loader_outer {
    color: #9f9f9f;
}
.loading_lightbox .loader_label {
    padding: 0 20px 5px 20px;
}
@media (max-width: 600px) {
    .loading_lightbox .loader_outer {
        max-width: 100px;
        margin: 0 auto 0 auto;
        padding: 20px;
    }
}
.lightbox.screenshot_lightbox {
    z-index: 1001;
    position: fixed;
    border-radius: 2px;
    background: #444;
    overflow: hidden;
    border: 0;
    box-shadow: 1px 0 16px rgba(0, 0, 0, 0.5), 1px 0 4px rgba(0, 0, 0, 0.6);
}
#lightbox_container .lightbox.screenshot_lightbox {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lightbox.screenshot_lightbox img {
    display: block;
    margin: 0;
}
.lightbox.screenshot_lightbox .screenshot_container {
    display: table;
    position: relative;
    background: #111;
}
.lightbox.screenshot_lightbox .screenshot_container .loader {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    display: block;
    background-color: #fff;
    background-image: url(https://img.itch.zone/aW1hZ2UvMTM2NzgyNS83OTY5NTMyLmdpZg==/original/5ynaba.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 2;
}
.lightbox.screenshot_lightbox .screenshot_container .icon-arrow-left,
.lightbox.screenshot_lightbox .screenshot_container .icon-arrow-right {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
}
.icon-arrow-right:before {
    content: "\276F";
}
.icon-arrow-left:before {
    content: "\276E";
}
.lightbox.screenshot_lightbox.loading .loader {
    opacity: 0.7;
}
body.lightbox_open {
    overflow: hidden;
}
body.lightbox_open #lightbox_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: 40px;
}
.lightbox {
    font-family: Lato, sans-serif;
    font-family: var(--itchio_default_font, Lato), sans-serif;
}
:focus {
    outline-color: #361275;
}
body {
    background: #eee;
}
@media (max-width: 1000px) {
    .responsive .wrapper {
        padding: 0 20px;
    }
}
@media (max-width: 600px) {
    .responsive .wrapper {
        padding: 0;
    }
}
.inner_column {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    background: #fff;
    overflow: hidden;
}
.responsive .inner_column {
    max-width: 960px;
    width: auto;
}
@media (max-width: 1000px) {
    .responsive .inner_column {
        padding-bottom: 0;
        max-width: 600px;
    }
}
.inner_column.size_large {
    font-size: 16px;
}
.inner_column p {
    line-height: 1.4;
}
.inner_column a {
    color: #ff0b34;
}
.inner_column h2 {
    margin: 0.8em 20px;
}
.inner_column h2 {
    margin-top: 1.6em;
}
.inner_column h1 {
    margin: 20px 20px 0 20px;
}
.columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.columns .left_col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    min-width: 0;
}
.columns .right_col {
    width: 367px;
}
.header {
    overflow: hidden;
}
.header img {
    display: none;
}
.header.has_image {
    font-size: 0;
}
.header.has_image img {
    display: inline-block;
    max-width: 100%;
}
.header.has_image h1 {
    display: none;
}
.header.align_center {
    text-align: center;
}
@font-face {
    font-family: "04b_03";
    src: url(fonts/04b03.eot);
    src: url(fonts/04b03.eot?#iefix) format("embedded-opentype"), url(fonts/04b03.woff2) format("woff2"), url(fonts/04b03.woff) format("woff"), url(fonts/04b03.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
.view_game_page .header_buy_row {
    display: block;
}
.view_game_page .header_buy_row p {
    margin: 20px 20px 0 20px;
}
.view_game_page .formatted_description {
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0;
}
.view_game_page .formatted_description > :first-child {
    margin-top: 0;
}
.view_game_page .video_embed {
    margin-right: 20px;
    margin-bottom: 10px;
}
.view_game_page .video_embed:empty {
    display: none;
}
.view_game_page .screenshot_list {
    margin-right: 20px;
    box-sizing: border-box;
}
.lightbox_open .view_game_page .video_embed {
    visibility: hidden;
}
.view_game_page .screenshot_list {
    margin-right: 20px;
    box-sizing: border-box;
}
.view_game_page .screenshot_list img {
    display: block;
    margin-bottom: 10px;
    max-width: 347px;
}
.view_game_page .buy_row {
    margin: 20px;
}
.view_game_page .buy_row .button {
    margin-right: 10px;
}
.view_game_page .button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    background: #ff2449;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #c3223e;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    height: 35px;
    min-width: 75px;
}
.view_game_page .button:hover {
    background: #ff2e51;
}
.view_game_page .button:active {
    background-color: #e1193b;
    position: relative;
    top: 1px;
}
.view_game_page .column {
    padding-bottom: 20px;
}
@media (max-width: 1000px) {
    .responsive .view_game_page .columns {
        margin: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 100vw;
    }
    .responsive .view_game_page .columns .left_col,
    .responsive .view_game_page .columns .right_col {
        display: block;
        margin: 0;
        width: auto;
    }
    .responsive .view_game_page .columns .left_col {
        -webkit-order: 2;
        order: 2;
    }
    .responsive .view_game_page .columns .right_col {
        -webkit-order: 1;
        order: 1;
    }
    .responsive .view_game_page .right_col .video_embed {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .responsive .view_game_page .header_buy_row {
        display: block;
    }
    .responsive .view_game_page .screenshot_list {
        white-space: nowrap;
        overflow: auto;
        font-size: 0;
        text-align: center;
        margin: 0;
    }
    .responsive .view_game_page .screenshot_list img {
        display: inline-block;
        margin: 0;
        height: 200px;
    }
}
@media (max-width: 400px) {
    .responsive .view_game_page .buy_row {
        font-size: 14px;
        white-space: nowrap;
        margin: 5px 0;
        padding: 15px 20px;
        overflow: auto;
    }
}
@font-face {
    font-family: icomoon;
    src: url(icons/fonts/icomoon.eot?4ibnvg);
    src: url(icons/fonts/icomoon.eot?4ibnvg#iefix) format("embedded-opentype"), url(icons/fonts/icomoon.ttf?4ibnvg) format("truetype"), url(icons/fonts/icomoon.woff?4ibnvg) format("woff"),
        url(icons/fonts/icomoon.svg?4ibnvg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}
:root {
    --itchio_ui_bg: #585858;
    --itchio_ui_bg_dark: #525252;
}
.wrapper {
    --itchio_font_family: Lato;
    --itchio_bg_color: #eeeeee;
    --itchio_bg2_color: rgba(58, 58, 58, 1);
    --itchio_bg2_sub: #4d4d4d;
    --itchio_text_color: #ffffff;
    --itchio_link_color: #fa5c5c;
    --itchio_border_color: #606060;
    --itchio_button_color: #fa5c5c;
    --itchio_button_fg_color: white;
    --itchio_button_shadow_color: #e54747;
    background-color: #000; /*! */
    background-image: url(https://user-images.githubusercontent.com/96705270/169429426-9541be7d-88d1-4b39-9ad7-fd91aee5040f.png);
    background-repeat: repeat;
    background-position: 50% 0;
}
.inner_column {
    color: #fff;
    font-family: Lato, Lato, LatoExtended, sans-serif;
    background-color: rgba(58, 58, 58, 1);
}
.inner_column ::selection {
    color: #fff;
    background: #fa5c5c;
}
.inner_column ::-moz-selection {
    color: #fff;
    background: #fa5c5c;
}
.inner_column h1,
.inner_column h2 {
    font-family: inherit;
    font-weight: 900;
    color: inherit;
}
.inner_column a {
    color: #fa5c5c;
}
.inner_column .button,
.inner_column .button:active,
.inner_column .button:hover {
    background-color: #fa5c5c;
    color: #fff;
    text-shadow: 0 1px 0 #e54747;
}
.view_game_page .right_col {
    display: block;
}
